# Redis
# ------------------------------------------------------------------------------
REDIS_CACHE_URL=redis://localhost:6379/0

# Django
# ------------------------------------------------------------------------------
DJANGO_SECRET_KEY=
DJANGO_ADMIN_URL=admin/
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_DEBUG=False

# Celery
# ------------------------------------------------------------------------------
CELERY_BROKER_URL=redis://localhost:6379/1


